// -----------------------------------------------------------------------------
//  Objects > Page
// -----------------------------------------------------------------------------

.page {
  background-color: $c-page-bg;
  box-sizing: border-box;
  min-height: 100vh;
  padding: 24px 32px;
}
