// -----------------------------------------------------------------------------
//  Settings > Typography
// -----------------------------------------------------------------------------

$default-font: 'Open Sans', Helvetica, Arial, sans-serif;

$font-size-1: 1.714em;
$font-size-2: 1.143em;
$font-size-3: .857em;
