// -----------------------------------------------------------------------------
//  Generic > Popup
// -----------------------------------------------------------------------------

.popup-content {
  border-radius: 3px;
  border: none;
  box-sizing: border-box;
  max-height: 70vh;
  overflow: hidden;
  padding: 0;
}
