// -----------------------------------------------------------------------------
//  Elements > Page
// -----------------------------------------------------------------------------

html {
  font-family: $default-font;
  font-size: 14px;
  font-weight: 600;
}


