// -----------------------------------------------------------------------------
//  Tools > Image fit
// -----------------------------------------------------------------------------

@mixin image-fit($type) {
  object-fit: $type;
  width: 100%;
  height: 100%;
}
